/* styles/About.css */

#about {
    background-color: #fff;
    padding: 20px;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

@media (max-width: 768px) {
    #about p {
        font-size: 16px;
        padding: 0 15px;
    }
}
