/* styles/Skills.css */

#skills {
    background-color: #f9f9f9;
    padding: 20px;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .skill-item {
        padding: 10px;
        font-size: 16px;
    }
}
